/*---------------------
  room-reservation -> ����
-----------------------*/
h4 {
    font-size: 16px !important;
    font-weight: bold !important;
    font-family: "Cabin", sans-serif !important;
}

h4.green{
	margin-bottom: 8px !important;
}

.px-2{
	margin-left:0 !important;
}

.mb-2{
	margin-left:0 !important;
	width:100%;
}

.bg-white{
	margin-bottom: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #5392f9 !important;
    border-color: #5392f9 !important;
}